.fileContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 14px;
	font-weight: 600;
}

.fileButton {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 1rem;
	width: 100%;
	background-color: var(--buttonColor);
	border-radius: 8px;
	box-shadow: var(--shadow-sm);
	transition: all 0.2s ease-in-out;
	transform: translate(-1px);
	color: var(--themeColor2);
	transition: all 0.2s ease;
}

.fileButton:active {
	box-shadow: var(--shadow-xs);
	transform: translate(0);
}

.fileButton:focus {
	outline: none;
}

.label {
	font-size: 1rem;
	margin-bottom: 5px;
	color: var(--themeColor2);
	font-weight: 500;
}

.error {
	border: 1px solid var(--error);
	box-shadow: 0 1px 2px rgba(242, 170, 170, 0.2);
}

.error:focus {
	box-shadow: 0 1px 2px rgba(242, 170, 170, 0.5);
}

@media (min-width: 480px) {
	.fileButton {
		width: auto;
	}
}
