.label {
	text-align: start;
	font-size: 1rem;
	color: var(--themeColor);
	font-weight: 500;
}

.password {
	width: 100%;
	padding: 0.5rem 1rem;
	overflow: hidden;
	padding-right: 3rem;
	font-family: inherit;
	border-radius: 8px;
	border: 1px solid var(--bgColor2);
	background-color: var(--inputBg);
	color: var(--themeColor);
	transition: all 0.2s ease;
	box-shadow: var(--shadow-xs);
	letter-spacing: 0.25px;
}

.password:disabled {
	background-color: var(--hoverColor2);
	cursor: not-allowed;
}

.password:read-only {
	background-color: var(--hoverColor2);
}

.password::placeholder {
	color: var(--gray-2);
	font-size: 14px;
}

.password:focus {
	outline: none;
	box-shadow: var(--shadow-sm);
	background-color: var(--inputBgFocus);
}

.password:focus:not(.error) {
	border: 1px solid var(--borderColor);
}

.passwordIcon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	color: var(--darkGray);
}

.passwordIcon:focus {
	outline: none;
}

.error {
	border: 1px solid var(--error);
	box-shadow: 0 1px 2px rgba(242, 170, 170, 0.2);
}

.error:focus {
	box-shadow: 0 1px 2px rgba(242, 170, 170, 0.5);
}
