.avatarContainer {
	position: relative;
	width: 300px;
	height: 200px;
}

@media (min-width: 420px) {
	.avatarContainer {
		width: 375px;
		height: 250px;
	}
}

@media (min-width: 480px) {
	.avatarContainer {
		width: 425px;
		height: 275px;
	}
}

@media (min-width: 640px) {
	.avatarContainer {
		width: 500px;
		height: 325px;
	}
}

@media (min-width: 1024px) {
	.avatarContainer {
		width: 550px;
		height: 350px;
	}
}
