.cropperContainer {
	position: relative;
	width: 160px;
	height: 160px;
}

@media (min-width: 420px) {
	.cropperContainer {
		width: 375px;
		height: 150px;
	}
}

@media (min-width: 480px) {
	.cropperContainer {
		width: 425px;
		height: 175px;
	}
}

@media (min-width: 640px) {
	.cropperContainer {
		width: 550px;
		height: 175px;
	}
}

@media (min-width: 768px) {
	.cropperContainer {
		width: 700px;
		height: 250px;
	}
}

@media (min-width: 1024px) {
	.cropperContainer {
		width: 800px;
		height: 275px;
	}
}
