.button {
	padding: 0.5rem 1.2rem;
	border: 1px solid var(--hoverColor2);
	border-radius: 8px;
	box-shadow: var(--shadow-sm);
	font-size: 14px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 3rem;
	font-weight: 500;
	overflow: hidden;
	transition: all 0.25 ease;
}

.button:focus {
	outline: none;
}

.disabled {
	opacity: 0.4;
	cursor: default;
	background-color: var(--hoverColor2);
}

.text {
	font-size: 12px;
	font-weight: 600;
	padding: 0;
	border: none;
	box-shadow: none;
	min-width: 0;
	transform: translate(0);
}

.button.text:focus {
	outline: none;
}

.text:hover,
.text:active {
	box-shadow: none;
}

.button.primary {
	background-color: var(--hoverColor);
	color: white;
}

.left {
	margin-right: 8px;
	order: -1;
}

.right {
	margin-left: 8px;
	order: 1;
}

.spinner {
	width: 18px;
	height: 18px;
	display: inline-block;
	border: 4px solid var(--darkViolet);
	border-radius: 50%;
	border-top-color: var(--buttonColor);
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
