.menu {
	position: absolute;
	background-color: var(--bgColor);
	box-shadow: var(--shadow-sm);
	padding: 1rem;
	border-radius: 8px;
	z-index: 10;
}

.item {
	text-decoration: none;
	display: flex;
	align-items: center;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 500;
	gap: 0.5rem;
	padding: 0.25rem;
	border-radius: 4px;
	margin-bottom: 0.5rem;
	color: var(--themeColor);
	cursor: pointer;
	transition: background-color 250ms ease;
	min-width: max-content;
	width: 100%;
}

.active:hover,
.active:active {
	background-color: var(--hoverColor2);
	box-shadow: var(--shadow-sm);
}

.dropdownToggle {
	width: 48px;
	height: 48px;
	border-radius: 8px;
	box-shadow: var(--shadow-sm);
	color: var(--themeColor);
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 2rem;
}

.toggleImage {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: contain;
}

.divider {
	margin: 1rem -1rem;
	color: var(--hoverColor2);
}

.top {
	bottom: 100%;
	right: 0;
	margin-bottom: 2px;
}

.right {
	bottom: 20%;
	left: 100%;
	transform: translateY(50%);
	margin-left: 2px;
}

.bottom {
	top: 100%;
	right: 0;
	margin-top: 2px;
}

.left {
	bottom: 20%;
	right: 100%;
	margin-right: 2px;
	transform: translateY(50%);
}
